/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2f2204;
	--sl-color-accent: #866400;
	--sl-color-accent-high: #d7c7a5;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #e2d6bd;
	--sl-color-accent: #886600;
	--sl-color-accent-high: #412f00;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.embed {
	width: 100% !important;
	height: 400px !important;
}
